.feature-scope {
  display: flex;
  justify-content: space-around;

  .example,
  .code {
    margin: 0;
    padding: var(--gap-xs);
  }

  .code {
    padding: 0 var(--gap) var(--gap-xs) var(--gap-xs);

    border: 1px solid var(--color-brown);
  }

  .item {
    width: 150px;
    aspect-ratio: 1 / 1;

    color: var(--color-white);

    background-size: contain;
  }

  @scope (.tricycle) {
    .item {
      background: url("../../images/features/scope/tricycle.jpg");
    }
  }

  @scope (.bicycle) {
    .item {
      background: url("../../images/features/scope/bicycle.jpg");
    }
  }

  @scope (.motorbike) {
    .item {
      background: url("../../images/features/scope/bicycle.jpg");
    }
  }
}
